registry=https://npm.pkg.github.com
//npm.pkg.github.com/:always-auth=true
//npm.pkg.github.com/:_authToken=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