registry=https://npm.pkg.github.com
//npm.pkg.github.com/:always-auth=true
//npm.pkg.github.com/:_authToken=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